
div.img {
	vertical-align:top;
	margin-top:20px;
	margin-bottom:20px;
}

div img {
	/*
	 * float:left;
	 */
	margin-left:20px;
	margin-right:20px;
}

.img .graphics {
	width:300px;
	display:inline-block;
	text-align:right;
	background-color:#f5f5cc;
	padding-top:10px;
	padding-bottom:10px;
}
.img .largegraphics {
	width:850px;
	display:inline-block;
	text-align:left;
	background-color:#f5f5cc;
	padding:10px;
}
.codeonly {
	display:inline-block;
	white-space:pre;
	font-family:monospace;
	padding:10px;
	background-color:#ccccff;
	width:850px;
}

.img .texlink {
	color:black;
}
.img .pdflink {
	margin-right:15px;
	color:black;
}

.img * {
	vertical-align:top;
	border-spacing:0px;
	border-style:none;
	outline-style:none;
	text-decoration:none;
}
.img a:link { text-decoration:none; }
.img a:visited { text-decoration:none; }
.img a:hover { text-decoration:none; }
.img a:active { text-decoration:none; }
.img a:focus { text-decoration:none; }

.img a:hover {
	border-style:none;
	text-decoration:none;
}

.texsrc {
	margin-left:10px;
	display:inline-block;
	white-space:pre;
	font-family:monospace;
	padding:10px;
	background-color:#ccccff;
	width:530px;
}
