
div.img {
	display:inline-block;
	width:300px;
	vertical-align:top;
}

.img .texlink {
	display:none;
}

.img * {
	border-spacing:0px;
	border-style:none;
	outline-style:none;
	text-decoration:none;
}
.img a:link { text-decoration:none; }
.img a:visited { text-decoration:none; }
.img a:hover { text-decoration:none; }
.img a:active { text-decoration:none; }
.img a:focus { text-decoration:none; }

.img a:hover {
	border-style:none;
	text-decoration:none;
}

